.video-hero {
  width: 100vw;
  height: calc(100vh - 58px);
  background-color: mix($tide1, $black, 80%);

  .image {
    position: relative;

    .picture {
      position: relative;
      z-index: 0;

      img {
        object-fit: cover;
        object-position: center top;
        width: 100vw;
        height: calc(100vh - 58px);
      }
    }

    .video-hero-content {
      position: absolute;
      z-index: 1;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100vw;
      height: 100vh;
    }

    .play-button {
      cursor: pointer;
      background: none;
      border: none;
      appearance: none;

      &:hover {
        svg circle {
          fill: $motion;
          stroke: $motion;
        }

        svg path {
          fill: $white;
        }
      }
    }
  }

  .title {
    margin-bottom: 40px;
    color: $white;
    text-align: center;
  }
}
