@font-face {
font-family: 'Phantom Sans-Medium-n5KeGGpl';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/6755db2d-d9f4-4344-a333-f818c39af35c/phantomsans-medium.woff') format('woff');
}