// Starting at 768px
@media (min-width: $breakpoint-medium) {
  .team {
    .team-members-container {
      margin: 0;
    }

    .team-member {
      margin-bottom: 48px;
    }
  }
}

// Starting at 992px
@media (min-width: $breakpoint-large) {
  .team {
    padding: 160px 0 80px;

    .title {
      margin-bottom: 80px;
    }
  }
}
