<div class="team-member">
  <div class="image">
    <div class="colored-frame {{ member.color }}"></div>
    {{ renderComponent('Image', { image: member.image }) }}
  </div>
  <div class="h4 name u-no-vertical-space">
    {{ member.name }}
  </div>
  <div class="position">
    {{ member.position }}
  </div>
</div>
