<div class="check-item d-flex col-md-4">
  <div class="icon">
    {{ source('Assets/light-checkmark.svg') }}
  </div>
  <div class="text">
    <p class="h3 check-item__title">
      {{ column.title }}
    </p>
    <div class="check-item__description">
      {{ column.description }}
    </div>
  </div>
</div>
