.spacer {
  &.mobile-increase {
    height: var(--mobileIncrease);
  }

  &.mobile-reduce {
    margin-top: var(--mobileReduce);
  }

  &.white {
    background-color: $white;
  }

  &.rise {
    background-color: $rise;
  }

  &.motion {
    background-color: $motion;
  }

  &.cornbread {
    background-color: $cornbread;
  }

  &.heart {
    background-color: $heart;
  }

  &.mind {
    background-color: $mind;
  }

  &.kin {
    background-color: $kin;
  }

  &.tide {
    background-color: $tide1;
  }

  &.tide-light {
    background-color: $tide-light;
  }

  &.kin-light {
    background-color: $kin-light;
  }

  &.black {
    background-color: $black;
  }
}
