// Starting at 768px
@media (min-width: $breakpoint-medium) {
  .case-study {
    .kicker {
      margin-bottom: 10px;
    }

    .button {
      margin-bottom: 0;
    }
  }
}

// Starting at 992px
@media (min-width: $breakpoint-large) {
  .case-study .case-study-card {
    padding: calc(20% - 36px) calc(20% - 24px);

    .card-container {
      height: 468px;
      padding: 32px 31px;
    }

    .card-label {
      font-size: 12px;
    }

    .card-title {
      font-size: 28px;
      line-height: 38px;
    }

    .card-logo img {
      max-width: none;
    }
  }
}
