@font-face {
font-family: 'Cornbread Honey SB-Cor-1FrREm9a';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/6018cc2a-66fc-4e97-8a26-84195d18dd49/cornbreadhoney-semibold.woff') format('woff');
}