@media (min-width: $breakpoint-small) {
  .form-component {
    padding-top: 60px;
    padding-bottom: 60px;

    .gravity-form {
      .gform_body {
        margin-bottom: 45px;

        .gfield {
          width: 50%;
          margin-bottom: 31px;

          &:nth-child(even) {
            padding-left: 16.5px;
          }
          &:nth-child(odd) {
            padding-right: 16.5px;
          }
        }
      }
    }
  }
}

@media (min-width: $breakpoint-medium) {
  .form-component {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
