@font-face {
font-family: 'Phantom Sans-Book-MVDoILQn';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/b79371c3-4f0a-407b-aae3-f26282fdaf3e/phantomsans-book.woff') format('woff');
}