<div class="col-9 col-lg-4">
  <div class="check-item d-flex">
    <div class="icon">
      {{ source('Assets/check.svg') }}
    </div>
    <div class="text">
      <div class="h3 check-item-title">
        {{ check.title }}
      </div>
      <div class="h4 check-item-description u-no-vertical-space">
        {{ check.description }}
      </div>
    </div>
  </div>
</div>
