.product-feature-content-library {
  padding: 60px 0 0;
  background-color: $tide-light;

  .title,
  .kicker {
    text-align: center;
  }

  .title {
    padding-top: 16px;
  }

  .c-resource-cards {
    padding-bottom: 60px;
  }
}
