<div class="highlight d-flex flex-column">
  <div class="highlight-content d-flex flex-column">
    <div class="logo">
      {{ renderComponent('Image', { image: highlight.logo }) }}
    </div>
    <div class="highlight-title">
      {{ highlight.title }}
    </div>
  </div>
</div>
