@font-face {
font-family: 'Phantom Sans-Regular-C8v5o18K';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/fe12a986-2c68-41e5-bd38-a041d666c806/phantomsans-regular.woff') format('woff');
}