// Starting at 376px
@media (min-width: $breakpoint-extra-small) {
  .logos-row {
    .logo img {
      max-width: 130px;
    }
  }
}

// Starting at 992px
@media (min-width: $breakpoint-large) {
  .logos-row {
    justify-content: center;
    padding: 30px 0 34px;

    .logo {
      flex: 0 0 auto;

      &:first-child {
        flex: 0 0 auto;
      }
    }
  }
}
