@media (max-width: $breakpoint-medium) {
  .thrive-speakers {
    .speaker-image {
      margin-bottom: 40px;
    }
    h4 {
      font-size: 18px;
      line-height: 27px;
    }
  }
}
// Starting at 768px
@media (min-width: $breakpoint-medium) {
  .thrive-speakers {
    .speaker {
      .image {
        transition: 0.5s;
        &:hover {
          scale: 1.125;
        }
      }
    }

    .button-container {
      margin-top: -25px;
    }
  }
}

// Starting at 992px
@media (min-width: $breakpoint-large) {
  .podcast-episodes {
    .description {
      margin-bottom: 100px;
    }
    .button-container {
      &::before,
      &::after {
        width: 40%;
      }
    }
  }
}

// Starting at 1200px
@media (min-width: $breakpoint-extra-large) {
  .thrive-speakers {
    .container {
      max-width: 1060px;
    }
  }
}
