.plans-pricing {
  padding: 60px 0 42px;
  background: rgba($kin, 0.6);

  h1 {
    padding-top: 0;
    margin-bottom: 0;
    text-align: center;
  }

  .plans {
    margin: 71px 0 40px;

    &.has-highlighted {
      margin: 71px 0 40px;
    }
  }

  .plan {
    position: relative;
    height: 100%;
    padding: 30px 20px;
    background: $white;
    border-radius: 8px;

    &.is-highlighted {
      border: 2px solid $motion;
      border-top-width: 1px;
      border-radius: 0 0 8px 8px;
    }

    &__highlight-label {
      position: absolute;
      top: -32px;
      left: -2px;

      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(100% + 4px);
      height: 31px;
      padding-top: 0;
      margin-bottom: 0;

      color: $white;
      background: $motion;
    }

    &__title {
      padding-top: 0;
      margin-bottom: 8px;
    }

    &__description {
      margin-bottom: 24px;
    }

    &__price {
      display: flex;
      align-items: center;
      margin-bottom: 45px;

      .value {
        @include cornbread-honey();

        margin-right: 5px;
        font-size: 48px;
        line-height: 54px;
      }

      .description {
        height: 50px;

        &.only-description {
          display: flex;
          align-items: center;
          height: 54px;
        }
      }
    }

    &__features {
      p:first-child {
        margin-bottom: 30px;
        font-size: 22px;
        line-height: 30px;
      }

      ul {
        padding-left: 40px;
        margin: 0 0 0 -4px;
        list-style: none;
      }

      li {
        position: relative;
        margin-bottom: 16px;

        &:last-child {
          margin-bottom: 0;
        }

        &::before {
          position: absolute;
          top: 0;
          left: -40px;

          width: 24px;
          height: 24px;

          content: "";
          background: url("../Components/PlansPricing/Assets/check.svg");
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }

    hr {
      margin: 32px 0;
      background-color: rgba($tide1, 0.2);
    }
  }

  .plans-link {
    padding-top: 0;
    margin: 40px 0 22px;
    text-align: center;
  }

  .slick-list {
    margin: 0 -16px;
    overflow: unset;
    cursor: grab;

    .slick-track {
      display: flex;

      .slick-slide {
        padding: 0 16px;

        > div {
          height: 100%;
        }
      }
    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 32px 0 0;
    list-style: none;

    button {
      position: relative;

      display: block;
      width: 14px;
      height: 14px;
      padding: 0;

      font-size: 0;
      line-height: 0;

      cursor: pointer;
      background: transparent;
      border: 0;
      outline: none;

      &::before {
        position: absolute;
        top: calc(50% - 3px);
        left: calc(50% - 3px);

        width: 6px;
        height: 6px;
        text-align: center;

        content: "";
        background: rgba($tide1, 0.2);
        border-radius: 50%;
      }
    }

    .slick-active button::before {
      background: $tide1;
    }
  }

  .logos-title {
    display: none;
    padding-top: 0;
    margin-bottom: 12px;
    color: rgba($tide1, 0.6);
    text-align: center;
  }

  .logos-row {
    padding: 0;
    margin: 0;
  }
}
