@font-face {
font-family: 'Phantom Sans-SemiBold-rrTfhpo2';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/d86ae6f9-0e82-46d0-acfb-233fe6922faf/phantomsans-semibold.woff') format('woff');
}