.complementary-features {
  .kicker {
    color: rgba($tide1, 0.7);
  }

  .title {
    padding-top: 16px;
    margin-bottom: 8px;
  }

  .card-container {
    padding: 48px 0 0;
    margin: 0 0 40px;
  }

  .slider {
    --negative-margin: 80px;
    padding: 48px var(--negative-margin) 0;
    margin: 0 calc(-1 * var(--negative-margin)) 40px;
    overflow-x: auto;

    .feature-card {
      margin: 2px 32px 2px 0;

      &:last-child {
        // stylelint-disable-next-line max-nesting-depth
        .image-container,
        .text-container {
          margin-right: var(--negative-margin);
        }
      }
    }
  }

  .slick-hidden {
    display: none;
  }

  .pagination {
    margin-right: 32px;
    font-size: 14px;
    line-height: 20px;
    color: rgba($tide1, 0.6);
    text-transform: uppercase;
  }

  .o-arrows {
    .o-arrow {
      &.prev svg {
        transform: rotate(-180deg);
      }

      &.slick-disabled {
        cursor: not-allowed;
        border-color: rgba($tide1, 0.05);

        svg path {
          fill: #747474;
        }
      }
    }
  }

  .feature-card {
    text-decoration: none;

    &.performance .product-color {
      background-color: $rise;
    }

    &.engagement .product-color {
      background-color: $motion;
    }

    &.manager-enablement .product-color {
      background-color: $cornbread;
    }

    &.career-growth .product-color {
      background-color: $heart;
    }

    &:hover .feature-description {
      text-decoration: underline;
    }

    .image-container,
    .text-container {
      width: 296px;
    }

    .image-container {
      height: 167px;

      .image {
        height: 100%;
      }
    }

    .image picture * {
      width: 100%;
      height: 100%;
      object-fit: contain;
      margin: 0 auto;
      border-radius: 4px;
    }

    .product-color {
      width: 10px;
      height: 10px;
      margin-right: 8px;
      border-radius: 50%;
    }

    .product-title {
      padding-top: 2px;
      margin-bottom: 0;
    }

    .feature-type {
      padding-top: 4px;
      color: rgba($tide1, 0.6);
    }

    .text-container {
      margin-top: 12px;
    }

    .feature-title {
      padding-top: 16px;
      margin-bottom: 2px;
    }

    .feature-description {
      font-size: 16px;
      line-height: 24px;
    }
  }
}
