.two-column-resource-links {
  padding: 40px 0;

  .title {
    margin-bottom: 36px;
  }

  .image picture {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }

  .resources-col.left {
    margin-bottom: 64px;
  }

  .resources-title {
    padding-top: 0;
    margin-bottom: 8px;
  }

  .resources-description {
    margin-bottom: 40px;
  }

  .resource-link {
    position: relative;
    width: 100%;
    padding: 24px 55px 24px 25px;
    margin-bottom: 16px;
    text-align: left;
    background-color: rgba($tide1, 0.03);

    &:hover {
      background-color: rgba($tide1, 0.08);
    }

    &::after {
      position: absolute;
      top: 50%;
      right: 25px;
      margin-left: 0;
      transform: translateY(-50%);
    }
  }
}
