// Starting at 768px
@media (max-width: $breakpoint-large) {
  .thrive-banner {
    .text-wrapper {
      padding-top: 24px;
    }
    img {
      width: 70%;
      margin: auto;
    }
  }
}

@media (min-width: $breakpoint-medium) {
  .thrive-banner {
    .banner-wrapper {
      padding: 48px 66px 44px;
      &:hover .button--rise {
        scale: 1.1;
        box-shadow: 0 4px 4px rgba($black, 0.3);
      }
    }
  }
}
