.thank-you-hero {
  padding: 32px 0;
  text-align: center;

  .title {
    max-width: 607px;
    padding-top: 0;
    margin-bottom: 18px;
  }

  .description {
    max-width: 441px;
  }

  img,
  .title,
  .description {
    margin: 0 auto;
  }
}
