.newsletter-banner {
  padding-bottom: 40px;
  background-color: $tide1;

  .image {
    width: 217px;
    max-width: 217px;
    margin-left: -16px;
  }

  .title {
    padding-top: 20px;
    margin-bottom: 32px;
  }
}
