.text-image-button {
  padding: 30px 0 60px;
  text-align: center;

  &.hero {
    padding: 57px 0 30px;
  }

  @include bg-color-selector;

  &.cut-image .image {
    margin-right: -16px;
    margin-left: -16px;
  }

  .title {
    font-size: 32px;
    line-height: 42px;
  }

  .has_description {
    margin-bottom: 8px;
  }

  .image {
    &.small-spacing {
      &.bottom {
        margin-top: 24px;
      }

      &.top {
        margin-bottom: 24px;
      }
    }

    &.medium-spacing {
      &.bottom {
        margin-top: 48px;
      }

      &.top {
        margin-bottom: 48px;
      }
    }

    &.large-spacing {
      &.bottom {
        margin-top: 58px;
      }

      &.top {
        margin-bottom: 58px;
      }
    }

    picture * {
      margin: 0 auto;
    }
  }

  // Buttons
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    .secondary {
      margin-left: 24px;
    }
  }

  .button--video {
    display: inline-flex;
    align-items: center;
    font-weight: 400;
    line-height: 27px;
    color: $motion;
    background-color: transparent;

    i {
      height: 32px;
      margin-right: 12px;
    }
  }

  // WYSIWYG
  .wysiwyg {
    margin-top: 24px;

    a {
      color: $motion;
      text-decoration: none;

      &:hover,
      &:focus {
        color: $motion;
      }
    }
  }
}
