<div class="check-item d-flex">
  <div class="icon">
    {{ source('Assets/light-checkmark.svg') }}
  </div>
  <div class="text">
    <h3 class="h3 check-title">
      {{ check.title }}
    </h3>
    <p class="large check-description">
      {{ check.description }}
    </p>
  </div>
</div>
